div{
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  #search {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgb(32,35,39, 0.2);
    width: 400px;
    
    border-radius: 30px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    /* text-align: center; */
    font-size: 18px;
    color: white;
    font-weight: 300;
  }
  
  .textinput{
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgb(32,35,39, 0.2);
    width: 600px;
    height: 150px;  
    border-radius: 30px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 30px;
    margin: 5px auto 10px auto;
    display: block;
    /* text-align: center; */
    font-size: 18px;
    color: white;
    font-weight: 300;
  }